.graph {
    font-size: 10px;
}
.plot {
    fill: rgba(250, 250, 255, 0.6);
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.overplot {
    fill:none;
    stroke:green;
    stroke-width:1.5px;
}
.zoom{
    fill:rgba(175,175,175,0.25);
    stroke:black;
}
.labels{
    font-size: 16px;
}
.legendtext{
    font-size:14px;
}