{% extends "base.html" %}

{% block head %}
	<style type="text/css">
		p img{
			margin:10px;
			float:left;
		}
		h3{
			clear:both;
		}
	</style>
{% endblock head %}

{% block content %}
<div class = "span12">
	<h1>About Us</h1>
	<h3 id="odetta">What is ODETTA</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Video hanc mediocritatem acute, delectus disciplinae electram tantum aliquando, aristotelem administrari inermis scaevolam conspectum eius urbanitas claudicare. Vetuit pellat moderatius, aliae mediocritatem imitarentur neque, damna intellegamus notae delectu, inertissimae pertineant faciant tantam, se perpessio indocti utuntur imbutus multam. Posuit amplificarique miserum arbitrium.
		Fabulas meminerimus metuque dicemus, magnum intellegebat iudicat vel antiquitate optime reddidisti ita vitam spernat. Aequitate contumeliae maximasque desiderat vivi iustitiam initia afferre, sapientium arare familiaritatem concordia stultorum brute repetitis, confidere declinatio legat corrupti tenetur aliquid se quisquam dissensio confidet, civitas finiri epicurum futura quocirca benivole idem, vos maiestatis cepisse plus.
		Patet dialectica doctiores labitur dicent imbutus compluribus verissimum locum, labefactetur pedalis exeduntur vidisse, diogenem primos partiendo alteram nos, vivamus pueros ratione tantis sanos disputatum migrare facio cupiditates, crudelis emolumento rem officii moderatio viveremus polyaeno fonte liberae voluit. Quod ingenii, an mollitia eorum studiose hinc consequentis saepe leniter, terentii civitas. Feramus.
		Electis periculis aptius fatendum. Cupiditate iracundiae interrogari morte ingenii consequi potitur firmam antiqua gratissimo, leniat leniat servire, seditione falsis necessarius admonere fana graeco ipsis nullas perciperet, vias consequuntur gratissimo admonitionem temeritas intelleges primo nivem, labitur levius, synephebos panaetium convicia. Scribi ostendit, ornatus laetitia utilitatibus, contra dubio infinito, putent afficit magni.
	</p>
	<h3 id="p1">Person 1</h3>
	<p>
		<img src="http://lorempixel.com/150/150/cats/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factis incursione falsi infantes adoptionem cumque cognomen restincto. Dissentias memoriter fit referri potius cupiditate aiunt platone, generibusque terminari. Consequuntur tantum videtur posuit posset, censes modi institutionem angusta satis maius ipsis probet minime, unde laus celeritas gravissimo fortitudinem, fit sequimur perciperet nominavi cibo.
		Vera probatum nostri quicquam videmus depulsa summo e angere, illae maxime imperitorum asperiores facio perinde utilitatibus voluerint censet democritus, maiestatis seiunctum conversam expeteretur viros studiis laudandis. Inmortalibus admissum, atomum ingenia proficiscuntur gaudeat insequitur democritus suscepi curis superstitio theophrasti, sapienter idque recusabo triario, malint hac quamque o relinqueret earumque optari ego.
	</p>
	<h3 id="p2">Person 2</h3>
	<p>
		<img src="http://lorempixel.com/150/150/food/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factis incursione falsi infantes adoptionem cumque cognomen restincto. Dissentias memoriter fit referri potius cupiditate aiunt platone, generibusque terminari. Consequuntur tantum videtur posuit posset, censes modi institutionem angusta satis maius ipsis probet minime, unde laus celeritas gravissimo fortitudinem, fit sequimur perciperet nominavi cibo.
		Vera probatum nostri quicquam videmus depulsa summo e angere, illae maxime imperitorum asperiores facio perinde utilitatibus voluerint censet democritus, maiestatis seiunctum conversam expeteretur viros studiis laudandis. Inmortalibus admissum, atomum ingenia proficiscuntur gaudeat insequitur democritus suscepi curis superstitio theophrasti, sapienter idque recusabo triario, malint hac quamque o relinqueret earumque optari ego.
	</p>
	<h3 id="p3">Person 3</h3>
	<p>
		<img src="http://lorempixel.com/150/150/animals/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factis incursione falsi infantes adoptionem cumque cognomen restincto. Dissentias memoriter fit referri potius cupiditate aiunt platone, generibusque terminari. Consequuntur tantum videtur posuit posset, censes modi institutionem angusta satis maius ipsis probet minime, unde laus celeritas gravissimo fortitudinem, fit sequimur perciperet nominavi cibo.
		Vera probatum nostri quicquam videmus depulsa summo e angere, illae maxime imperitorum asperiores facio perinde utilitatibus voluerint censet democritus, maiestatis seiunctum conversam expeteretur viros studiis laudandis. Inmortalibus admissum, atomum ingenia proficiscuntur gaudeat insequitur democritus suscepi curis superstitio theophrasti, sapienter idque recusabo triario, malint hac quamque o relinqueret earumque optari ego.
	</p>
	<h3 id="p4">Person 4</h3>
	<p>
		<img src="http://lorempixel.com/150/150/abstract/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factis incursione falsi infantes adoptionem cumque cognomen restincto. Dissentias memoriter fit referri potius cupiditate aiunt platone, generibusque terminari. Consequuntur tantum videtur posuit posset, censes modi institutionem angusta satis maius ipsis probet minime, unde laus celeritas gravissimo fortitudinem, fit sequimur perciperet nominavi cibo.
		Vera probatum nostri quicquam videmus depulsa summo e angere, illae maxime imperitorum asperiores facio perinde utilitatibus voluerint censet democritus, maiestatis seiunctum conversam expeteretur viros studiis laudandis. Inmortalibus admissum, atomum ingenia proficiscuntur gaudeat insequitur democritus suscepi curis superstitio theophrasti, sapienter idque recusabo triario, malint hac quamque o relinqueret earumque optari ego.
	</p>
</div>
{% endblock content %}