{% extends "base.html" %}

{% block head %}
	<style type="text/css">
		form{
			width:450px;
			padding:1em;
		}
		.result a{
			font-size: 1.2em;
		}
		.result .details{
			padding-left:1em;
		}
		.result small{
			font-size: 0.8em;
			font-variant: small-caps;
		}
		#errormsg{
			display:none;
		}
		#errormsg p{
			color:red;
			font-size: 16px;
			text-align: center;
		}
	</style>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#search-form").submit(function(e){
			e.preventDefault();
			console.log("hi");
			if(validateSearchChars($("#minmass").val()) || validateSearchChars($("#maxmass").val()) || validateSearchChars($("#peaklum").val())){
				$("#errormsg").css("display","block");
				return false;
			} else{
				return true;
			}
		});
	});
	</script>
{% endblock head %}

{% block content %}
<div class = "span10 offset3">
	<h1>Spectra Search</h1>
	<form action="/search/" method="get" class="form-horizontal" id = "search-form">
			<div class="control-group">
				<p>
					<label class="control-label" for="id_minmass">Minimum Mass: </label>
					<input class="fields" id="minmass" name = "minmass" placeholder = "Leave blank for no min">
				</p>
				<p>
					<label class="control-label" for="id_maxmass">Maximum Mass: </label>
					<input class="fields" id="maxmass" name = "maxmass" placeholder = "Leave blank for no max">
				</p>
				<p>
					<label class="control-label" for="id_maxlum">Peak Luminosity: </label>
					<input class="fields" id="peaklum" name = "peaklum">
				</p>
			</div>
			<div id = "errormsg">
				<p>
					Error : Not a number
				</p>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="Search" />					
				</div>
			</div>
	</form>

	{% if results %}
	<div class="span12 results">
		{% for result in results %}
			<div class="result">
				<a href="{% url 'odetta.views.plot' result.model.model_id %}">{{result.model.modelname}}</a>
				<small><a href="/plot/{{result.model.model_id}}/img/">img</a></small>
				<div class="details">
					<strong>Publication: {{result.pub.fullname}}</strong><br/>
					Model Name: {{result.model.modelname}}, Mass: {{result.model.mass_wd}}
				</div>
			</div>
		{% endfor %}
		<div class="pagination pagination-centered">
			<ul>
				<li><a href="?{{q_string}}&page=1">First</a></li>
				{% if results.has_previous %}
				<li>
		            <a href="?{{q_string}}&page={{results.previous_page_number}}">Prev</a>
				</li>
		       	{% else %}
		       	<li class="disabled">
		       		<a href="#">Prev</a>
		       	</li>
		        {% endif %}

		        {% for page in page_range %}
		        	{% if page == results.number %}
		        		<li class="active">
		        			<a href="?{{q_string}}&page={{page}}">{{page}}</a>
		        		</li>
		        	{% else %}
		        		<li>
		        			<a href="?{{q_string}}&page={{page}}">{{page}}</a>
		        		</li>
		        	{% endif %}
		        {% endfor %}

				{% if results.has_next %}
				<li>
		            <a href="?{{q_string}}&page={{ results.next_page_number }}">Next</a>
		         </li>
		       	{% else %}
		       	<li class="disabled">
		       		<a href="#" class="disabled">Next</a>
				</li>		
		        {% endif %}
		        <li><a href="?{{q_string}}&page=99999">Last</a></li>
			</ul>	
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}