{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/d3.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/graph.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <style type="text/css">        
        #details table{
            width:100%;
        }
        .span10 h1{
            text-align: center;
        }
        #time, #angleVal{
            width:30px;
            margin:0;
            text-align: center;
        }
        #time-slider, #mu-slider{
            height: 10px;
            margin: 10px 10px;
        }
        .graph{
            position:relative;
        }
        #loadingscreen{
            top:0;
            bottom:0;
            left:0;
            right:0;
            position:absolute;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.9);
        }
        #loadingscreen img{
            margin:250px 50%;
        }
        #startFrame, #endFrame, #runAnimation, #loadData{
            margin-bottom: 10px;
        }
        #runAnimation{
            display:none;
        }
        #startFrame, #endFrame{
            width:60px;
        }
        progress {
            width:500px;
            height:20px;
            display:none;
        }
        progress::-webkit-progress-bar {
            width:500px;
            height:20px;
        }
        progress::-webkit-progress-value {
            width:500px;
            height:20px;
        }
        progress::-moz-progress-bar {
            width:500px;
            height:20px;
        }

    </style>
    <script type="text/javascript">
    var m_id = {{meta_data.model_id}};
    $(function() {
        // preloadData(0,100);
        $( "#time-slider" ).slider({
            value: 0,
            min: 0,
            max: {{time_max}},
            slide: function( event, ui ){
                getData(ui.value, currMu);
                $("#time").val(ui.value);
            },
            change: function(event, ui){
                getData(ui.value, currMu);
                $("#time").val(ui.value);
            }
        });
        $( "#mu-slider" ).slider({
            value: 0,
            min: 0,
            max: {{mu_max}},
            slide: function( event, ui ){
                getData(currTime, ui.value);
                $("#angleVal").val(ui.value);
            },
            change: function(event, ui){
                getData(currTime, ui.value);
                $("#angleVal").val(ui.value);
            }
        });
        $("#time").change(function(){
            $("#time-slider").slider("option", "value", $(this).val().replace(/[a-zA-Z]/g, ""));
        });
        $("#angleVal").change(function(){
            $("#mu-slider").slider("option", "value", $(this).val().replace(/[a-zA-Z]/g, ""));
        });
    });
    </script>
{% endblock head %}

{% block content %}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Index</li>
            <li><a href="#graph">Graph</a></li>
            <li><a href="#details">Details</a></li>
            <li><a href="{% url 'odetta.views.plot_img' model_id=meta_data.model_id time_step=0 mu_step=0%}?download=1">Download Image</a></li>
            <li><a href="{% url 'odetta.views.get_zip_file' %}">Download Model</a></li>
        </ul> 
    </div>
</div>
<div class = "span10">
    <h1>Model {{meta_data.model_id}}: {{meta_data.modelname}}</h1>
    <div class="graph" id="graph" oncontextmenu="return false">
        <h2>Spectrum Graph</h2>
    </div>
    <script type="text/javascript" src="/static/js/spectrum_graph.js"></script>
    <div id = "options" class="well">
        <div id="graphOptions">
            <h4>Graph Options</h4>
            <div class="btn-group">
                <button class="btn" href="#" onclick="moveFrame(-1, 0)"><i class="icon-chevron-left"></i></button>
                <input type="text" id="time" value="0"/>
                <button class="btn" href="#" onclick="moveFrame(1, 0)"><i class="icon-chevron-right"></i></button>
                <button id = "restore" class="btn" onclick = "restoreScale()">Rescale Graph</button>
                <button class="btn" onclick = "preloadData('time',$('#angleVal').val())">Get All Time For Current Angle</button>
            </div>
            <p>Time:</p>
            <div id="time-slider"></div>
            <div class="btn-group">
                <button class="btn" href="#" onclick="moveFrame(0, -1)"><i class="icon-chevron-left"></i></button>
                <input type="text" id="angleVal" value="0"/>
                <button class="btn" href="#" onclick="moveFrame(0, 1)"><i class="icon-chevron-right"></i></button>
                <button id = "restore" class="btn" onclick = "restoreScale()">Rescale Graph</button>
                <button class="btn" onclick = "preloadData('mu',$('#time').val())">Get All Angles For Current Time</button>
            </div>
            <p>Angle:</p>
            <div id="mu-slider"></div>
        </div>
    </div>
    <div id="details">
        <h2>Spectrum Details</h2>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{detail.0|capfirst}}</td>
                    <td>{{detail.1}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
