{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/static/js/d3.js"></script>
	<script type="text/javascript">
		var spectrum_data = {{data|safe}};
		var flux_data = spectrum_data.flux_data;
		var width = 1000;
		var height = 500;

		$(document).ready(function(){

		});

		var svg = d3.select("body")
			.append("svg")
			.attr("width",width)
			.attr("height",height);

		var xScale = d3.scale.linear()
			.domain([0,d3.max(spectrum_data.flux_data,function(d){
				return d[0];
			})])
			.range([0,width]);

		var yScale = d3.scale.linear()
			.domain([0,d3.max(spectrum_data.flux_data,function(d){
				return [1];
			})])
			.range([0,height]);

		var xAxis = d3.svg.axis()
			.orient("bottom")
			.scale(xScale);

		var yAxis = d3.svg.axis()
			.orient("left")
			.scale(yScale);

		var lineFunction = d3.svg.line()
			.x
	</script>
{% endblock head %}

{% block content %}
	<div class="graph">
		
	</div>
	<table class="details">
	</table>
{% endblock content %}